<% include ./partial/header%>

<form class="ui form segment container text" action="/blogs" method="POST">
    <h2 class="ui header">Add new Blog</h2>
    
    <div class="field">
        <label>Title</label>
        <input type="text" name=blog[title] placeholder="Title"></input>
    </div>
    
    <div class="field">
        <label>Image</label>
        <input type="text" name=blog[image] placeholder="Title"></input>
    </div>
    
    <div class="field">
        <label>Content</label>
        <textarea type="text" name=blog[body]></textarea>
    </div>
    
    <input type="submit" class="ui sencondary black basic button"></input>
    
</form>