<html>
    <head>
        <title>Blog App practice</title>
        <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
        <link rel="stylesheet" type = "text/css" href="/stylesheet/app.css"></link>
    </head>
    <body>
        <div class="ui inverted fixed segment">
            <div class="ui inverted secondary pointing menu">
                
                <div class="item">
                    <i class="code icon"></i>
                </div>
                
                <a class="item active" href="/blogs">Home</a>
                
                <a class="item" href="/blogs/new">New Blog</a>
                
            </div>
        </div>
    </body>
</html>